<div class="box">
    <div class="box-hd">
        <h1>Add a New Menu Item</h1>
    </div>
    <div class="box-bd">
        <%= render 'form' %>

        <%= link_to 'Back', menu_items_path %>
    </div>
</div>
