<div class="footer">
    <div class="footer-logo"><img src="http://www.wearysloth.com/Gallery/ActorsA/319-3729.jpg" /></div>
    <div class="footer-legal">Disclaimer: McDowell's is not part of a nutritious breakfast.</div>
</div>
