<div class="header">
    <div class="company">
        <div class="company-logo"><img src="http://www.legalteamusa.net/tacticalip/wp-content/uploads/2013/12/mcdowells.gif" /></div>
        <div class="company-tag">A fine ass place to eat!</div>
    </div>
</div>
